@font-face {
    font-family: "ubantuMedium"; /* The name you want to assign to the font */
    src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype"); /* Path to your .ttf file */
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'ubantuMedium';
    letter-spacing: 1px;
    word-spacing: 1px;
}
body{
    background-color: #EEF5FF;
    display: flex;
    justify-content: center;
    padding: 20px;
    /* height: 100vh; */
}
.container{
    background-color: white;
    align-self: center;
    display: flex;
    gap: 5rem;
    padding: 2rem;
    margin: auto;
    width: 65rem;
    height: 40rem;
    /* flex-wrap: wrap; */
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    
}

.slidebar{
    background:url('assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    font-weight:bolder;
    padding:2rem;
    width: 22rem;
    flex-grow: 2;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

}
.sliderbar-subdiv{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
}
.sliderbar-subdiv h5{
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 50%;
    border: white solid 1px;
    /* background-color: rgb(199, 244, 229); */
    color: white;
}
.subdiv-title span:first-child{
    color: rgb(176, 191, 186);
}
.subdiv-title{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    gap: 0.5rem;
    color:white;
}

.step-container{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 70%;
    gap: 4rem;
    flex-grow: 4;
    position: relative;
}
.step-container p{
    color: gray;
}
.container-child1{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}
.step-and-form{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
input{
    padding: 0.7rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border:1px solid ;
    width: 100%;
    height: 3rem;
}
.label{
    display: flex;
    justify-content: space-between;
}
button{
    padding: 1rem 2rem 1rem 2rem;
    align-self: flex-end;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;

}

.buttons{
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    margin: auto;
    width: 90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: darkblue;
}
.mid-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:#EEF5FF;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    
}
.card{ 
    width: 30%;
    gap:4rem;
    padding: 1rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 1px gray solid;
}
.image-class{
    width: 2.5rem;
    height: 2.5rem;
}
img{
    width: 100%;
    height: 100%;
}
.switch-button{
    flex-grow: 1;
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #EEF5FF;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

}
.toggle {
    appearance: none;
    width: 50px;
    height: 26px;
    background-color: hsl(228, 83%, 23%);
    border-radius: 13px;
    position: relative;
  }

  .toggle:checked::before {
    transform: translateX(24px);
}
.toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color: white;
    transition: transform 0.2s;
}
h6{
    padding-top: 0.5rem;
    font-size: small;
}

.container-three .mid-div{
    background-color:white;
}
.add-ons{
    background-color:#EEF5FF;
    border: 2px gray solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.check-in{
    align-self: flex-start;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 20px;
}
.plan-name{
    flex-grow: 1;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.selected-plan{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin-bottom: 2rem;
}
.total-plan{
    padding: 1rem;
}
.plans{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.plans:first-child{
    flex-grow: 2;
}

.container-two, .container-three, .container-four, .container-five{
    display: none;
}

.thank-you{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem;
    width: fit-content;
}
.thank-image{
    height: 5rem;
    width: 5rem;
}
.card-boder{
    border: 2px darkmagenta solid;
}

/* Responsive StyleSheet */

@media (max-width: 600px){
    body{
        padding: 0%;
        position: relative;
        height: 100vh;
    }
    .container{
        flex-wrap: wrap;
        /* height: 100vh; */
        margin-top: 0;
        background-color:#EEF5FF;
        padding: 0;
        gap: 0;
    }
    .slidebar{
        flex-direction: row;
        justify-content: center;
        border-radius: 0 0 0 0;
        background: url('assets/images/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5rem;
        align-items:center;
    }
    .subdiv-title{
        display: none;
    }
    .step-container{
        margin: 1rem;
        margin-top: -4rem;
        background-color: white;
        position: inherit;
        height: 38rem;
    }
    .buttons{
        width: 80%;
        bottom: 1rem;
    }
    .cards{
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        
    }
    .card{
        flex-direction: row;
        width: 100%;
        gap: 1.5rem;
        justify-content: flex-start;
        height: 6rem;
        /* background-color: #EEF5FF; */
    }
    .add-ons{
        font-size: small;
        /* align-items: center; */
    }
    .check-in{
        margin-top: -9px;
    }
    #go-back{
        text-decoration:underline;
        color: gray;
    }
}

#error-plan{
    display: none;
    margin: auto;
    color: red;
}

